<root>
  <div data-test-id="4bc098f4-fc33-468e-8f98-43d050096948">
    <div data-placeholder="contentZone" data-zonename="LeftColumn" data-zonedescription="Grid zone" class="leftColumn">
</div>
    <div data-placeholder="contentZone" data-zonename="RightColumn" data-zonedescription="main page zone" class="rightColumn">
{#true,UserProfileFormControl,Form,,UserProfile\UserProfileFormControlPartialView.html#}
{#false,UserProfileGrid,Grid,,UserProfile\UserProfileGridPartialView.html#}
</div>
  </div>
</root> 