<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

    <variable name="LOG_DIR" value="c:\logs" />
    <variable name="LOG_FILE" value="www.Solid.log" />

    <targets async="true">
        <target name="logfile" xsi:type="File" fileName="${LOG_DIR}/${LOG_FILE}.txt"
                layout="${longdate}|${pad:padding=-50:inner=${callsite:includeNamespace=false}}|${pad:padding=-5:inner=${level:uppercase=true}}${newline}${message}${newline}${exception:format=toString,Data:maxInnerExceptionLevel=10}"
                archiveFileName="${LOG_DIR}/archived/${LOG_FILE}.{#>#}.txt"
                archiveAboveSize="10000000"
                archiveNumbering="DateAndSequence"
                maxArchiveFiles="10"
        />
        <!--    <target name="file2" xsi:type="File" fileName="${logDirectory}/file2.txt"/>-->
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>

</nlog>